.perfect-fleet-item {
  border: 1px solid var(--divider-color);
  border-radius: 30px;
  padding: 20px;
}

.perfect-fleet-item .image-box {
  text-align: center;
  margin-bottom: 25px;
}

.perfect-fleet-item .image-box img {
  border-radius: 20px;
}

.perfect-fleet-title {
  margin-bottom: 25px;
}

.perfect-fleet-title h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  display: inline-block;
  background-color: var(--divider-color);
  border-radius: 100px;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.perfect-fleet-title h2 {
  font-size: 20px;
  font-weight: 600;
}

.perfect-fleet-body {
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.perfect-fleet-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.perfect-fleet-body ul li {
  position: relative;
  width: calc(50% - 5px);
  text-transform: capitalize;
  padding-left: 25px;
}
.perfect-fleet-body ul li img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.perfect-fleet-body .amenities-item ul li {
  position: relative;
  width: calc(80% - 5px);
  text-transform: capitalize;
  padding-left: 25px;
  font-size: small;
}
.perfect-fleet-body .amenities-item ul li img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.perfect-fleet-footer {
  display: flex;
  align-items: center;
}

.perfect-fleet-pricing {
  width: calc(100% - 50px);
}

.perfect-fleet-pricing h2 {
  font-family: var(--default-font);
  font-size: 24px;
}

.perfect-fleet-pricing h2 span {
  font-size: 14px;
  font-weight: 400;
}

.perfect-fleet-btn .section-icon-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

.perfect-fleet-item:hover .perfect-fleet-btn .section-icon-btn {
  background-color: var(--primary-color);
}

.perfect-fleet-btn .section-icon-btn img {
  max-width: 12px;
}

.perfect-fleet-item:hover .perfect-fleet-btn .section-icon-btn img {
  transform: rotate(45deg);
}
@media only screen and (max-width: 991px) {
  .perfect-fleet-item {
    padding: 20px;
  }

  .perfect-fleet-item .image-box {
    margin-bottom: 20px;
  }

  .perfect-fleet-item .image-box img {
    max-width: 200px;
  }

  .perfect-fleet-title {
    margin-bottom: 20px;
  }

  .perfect-fleet-body {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .perfect-fleet-pricing h2 {
    font-size: 22px;
  }
}
.perfect-fleet-item .image-box {
  margin-bottom: 15px;
}

.perfect-fleet-title {
  margin-bottom: 15px;
}

.perfect-fleet-title h2 {
  font-size: 18px;
}

.perfect-fleet-title h3 {
  padding: 8px 15px;
}

.perfect-fleet-pricing h2 {
  font-size: 20px;
}
