/************************************/
/***   13. Our Testimonials css   ***/
/************************************/

.our-testimonial {
  background: url("/assets/images/testimonial-bg.png") no-repeat;
  background-position: center center;
  background-size: auto;
  padding: 80px 0;
}

.our-testimonial .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.testimonial-slider .swiper-wrapper {
  cursor: none;
}

.testimonial-item {
  background-color: var(--white-color);
  border: 1px solid var(--divider-color);
  border-radius: 30px;
  padding: 30px;
}

.testimonial-header {
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.testimonial-rating {
  margin-bottom: 20px;
}

.testimonial-rating i {
  font-size: 18px;
  color: var(--accent-color);
}

.testimonial-content p {
  margin: 0;
}

.testimonial-body {
  display: flex;
  align-items: center;
}

.author-image {
  margin-right: 15px;
}

.author-image figure,
.author-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.author-content {
  width: calc(100% - 75px);
}

.author-content h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.author-content p {
  text-transform: capitalize;
  margin: 0;
}

.testimonial-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.testimonial-btn .testimonial-button-next,
.testimonial-btn .testimonial-button-prev {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--accent-color);
  border-radius: 100%;
  transition: all 0.4s ease-in-out;
}

.testimonial-btn .testimonial-button-next {
  margin-left: 20px;
}

.testimonial-btn .testimonial-button-next:hover,
.testimonial-btn .testimonial-button-prev:hover {
  background-color: var(--primary-color);
}

.testimonial-btn .testimonial-button-next::before,
.testimonial-btn .testimonial-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/assets/images/icons/arrow-white.svg") no-repeat center center;
  background-size: 14px auto;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.testimonial-btn .testimonial-button-prev::before {
  transform: rotate(225deg);
}

@media only screen and (max-width: 991px) {
  .our-testimonial {
    padding: 50px 0;
  }

  .testimonial-item {
    padding: 20px;
  }

  .testimonial-rating {
    margin-bottom: 10px;
  }

  .testimonial-rating i {
    font-size: 16px;
  }

  .testimonial-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-btn {
    margin-top: 30px;
  }

  .testimonial-slider .testimonial-button-next,
  .testimonial-slider .testimonial-button-prev {
    width: 40px;
    height: 40px;
  }

  .testimonial-slider .testimonial-button-next::before,
  .testimonial-slider .testimonial-button-prev::before {
    background-size: 12px auto;
  }
}
