/************************************/
/***     10. Intro Video css      ***/
/************************************/

.intro-video {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}

.intro-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.intro-video::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 30%;
  z-index: 1;
}

.intro-video .section-title {
  position: relative;
  z-index: 2;
}
.intro-video .section-title h2 {
  color: var(--white-color);
}

.video-play-button {
  position: relative;
  z-index: 1;
  text-align: center;
}

.video-play-button a {
  position: relative;
  background-color: var(--accent-color);
  border-radius: 100%;
  width: 74px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.video-play-button a:before {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  border: 50px solid var(--dark-divider-color);
  border-radius: 50%;
  transform: scale(0.6);
  z-index: -1;
  animation: border-zooming 1.2s infinite linear;
}

.video-play-button a:after {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  border: 50px solid var(--dark-divider-color);
  border-radius: 50%;
  transform: scale(0.6);
  z-index: -1;
  animation: border-zooming 1.2s infinite linear;
  animation-delay: 0.3s;
}

@keyframes border-zooming {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.video-play-button a i {
  font-size: 30px;
  color: var(--white-color);
}

.section-title h2 {
  perspective: 100px;
}

@media only screen and (max-width: 991px) {
  .intro-video {
    padding: 100px 0;
  }
}
