/************************************/
/***     09. How It Work css      ***/
/************************************/

.custom-figure {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: inherit;
}

.how-it-work {
  padding: 50px 0 100px;
}

.how-work-accordion .accordion-item {
  position: relative;
  background: none;
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.how-work-accordion .accordion-item:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.how-work-accordion .accordion-header {
  position: relative;
}

.how-work-accordion .accordion-item .icon-box {
  padding: 5px 0px 0px 5px;
  position: absolute;
  left: 0;
  top: 4px;
}

.how-work-accordion .accordion-item .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  opacity: 10%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 0;
}

.how-work-accordion .accordion-item .icon-box img {
  position: relative;
  max-width: 34px;
  z-index: 1;
}

.how-work-accordion .accordion-item .accordion-button {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  box-shadow: none;
  padding: 5px 30px 5px 60px;
}

.how-work-accordion .accordion-header .accordion-button::after,
.how-work-accordion .accordion-header .accordion-button.collapsed::after {
  content: "\f077";
  position: absolute;
  top: 50%;
  right: 0;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
  transform: translate(0px, -50%);
  transition: all 0.3s ease-in-out;
}

.how-work-accordion .accordion-header .accordion-button.collapsed::after {
  transform: rotate(-180deg) translate(0px, 50%);
}

.how-work-accordion .accordion-item .accordion-body {
  padding: 5px 30px 0px 60px;
}

.how-work-accordion .accordion-item .accordion-body p {
  margin: 0;
}

.how-work-image {
  position: relative;
  /* background: url("/img/about-image-bg.svg") no-repeat; */
  background-position: bottom right;
  padding-bottom: 50px;
  margin-left: 30px;
}

.how-work-img {
  position: relative;
  text-align: center;
}

.how-work-img::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -10px;
  right: 0;
  width: 414px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid var(--divider-color);
  border-radius: 200px;
  z-index: 1;
}

.how-work-img img {
  border-radius: 200px;
}

.trusted-client {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 16px;
  width: 100%;
  max-width: 200px;
  padding: 20px;
  animation: trustedmoveobject 3s infinite linear alternate;
  z-index: 2;
}

@keyframes trustedmoveobject {
  50% {
    right: 50px;
  }
}

.trusted-client-content {
  border-bottom: 2px solid var(--white-color);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.trusted-client-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white-color);
}

@media only screen and (max-width: 991px) {
  .how-it-work {
    padding: 25px 0 50px;
  }

  .how-work-image {
    background-size: 40% auto;
    padding-bottom: 30px;
    max-width: 600px;
    margin-left: 0px;
    margin: 0 auto;
  }

  .how-work-content {
    margin-bottom: 40px;
  }

  .how-work-accordion .accordion-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .how-work-accordion .accordion-item .icon-box {
    top: 0px;
  }

  .trusted-client-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .trusted-client-content h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .how-work-accordion .accordion-item .icon-box img {
    max-width: 30px;
  }

  .how-work-accordion .accordion-item .accordion-button {
    font-size: 18px;
    padding: 5px 30px 5px 50px;
  }

  .how-work-accordion .accordion-header .accordion-button::after {
    font-size: 18px;
  }

  .how-work-accordion .accordion-item .accordion-body {
    padding: 5px 30px 0px 0px;
  }

  .how-work-img::before {
    width: 100%;
  }

  .trusted-client {
    right: 50px;
    margin: 0 auto;
    padding: 15px;
  }

  @keyframes trustedmoveobject {
    50% {
      right: 100px;
    }
  }

  .trusted-client-content h3 {
    font-size: 16px;
  }

  .trusted-client-content {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
