/************************************/
/***       33. 404 Page css       ***/
/************************************/

.error-page {
  padding: 100px 0;
}

.error-page-image {
  text-align: center;
  margin-bottom: 60px;
}

.error-page .error-page-content {
  text-align: center;
}

.error-page-content-heading {
  margin-bottom: 30px;
}

.error-page-content-heading h2 {
  font-size: 44px;
}

.error-page-content-heading h2 span {
  color: var(--accent-color);
}
@media only screen and (max-width: 991px) {
  .error-page {
    padding: 50px 0;
  }

  .error-page-image {
    margin-bottom: 30px;
  }

  .error-page-content-heading {
    margin-bottom: 20px;
  }

  .error-page-content-heading h2 {
    font-size: 36px;
  }
}
