.page-sign-up {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  align-items: center;
  background-color: var(--white-color);
}

.sign-up-form {
  background-color: rgb(231, 228, 228);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}

.sign-up-form .section-title {
  text-align: center;
}

.sign-up-form .form-group label {
  font-family: var(--accent-font);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.sign-up-form .form-control {
  padding: 12px 0px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--divider-color);
  border-radius: 0;
  color: var(--primary-color);
  box-shadow: none;
  outline: none;
}

.sign-up-form .form-control::placeholder {
  color: var(--primary-color);
  text-transform: capitalize;
}

.form-check-input {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: black;
}

.form-check-label {
  margin-left: 8px;
  cursor: pointer;
}

.sign-up-form-btn {
  margin: auto;
}

.sign-up-text {
  text-align: center;
  margin-top: 20px;
}

.sign-up-text p {
  font-family: var(--accent-font);
  color: var(--primary-color);
}

.sign-up-text .sign-in-link {
  color: var(--secondary-color);
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .sign-up-form {
    width: 90%;
    border: none;
    padding: 10px;
    margin: 0;
  }
}
